/*ロゴ（暫定）*/

h1 img{
  width:50%;
  height: 50%;
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

html{
    background-color: black;
}

body{
  width:100%;
  background-image: url("cheers_back2.jpg");
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
  background-attachment:fixed;             /* 背景画像を固定する */
  background-size: cover;
  font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  letter-spacing: 0.1em;
  line-height: 2;

  }

  h2{
    text-align: center;
  }

/*.band img{
  width:95%;
  height: 95%;
}*/

/*.band_listbox{
  margin: 0px auto;
}*/








/*Googleマップ*/
#mapField {
  width: 350px;
  height: 350px;
  color: black;
}


/*グローバルナビ*/

#nav{
  margin:10px 0;
    width:100%;
    padding-left:0;
    padding-top: 0;
    width:490px;
    height:50px;
    overflow:hidden;
    }

#nav li { list-style:none;  width:98px; float:left; }



/*.entire{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px 250px;
}*/


.story{
  
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

    /*width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px 250px;
  margin-top: 150px;
  margin-bottom: 130px;*/
    margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 25px 25px;

  margin-top: 150px;
  margin-bottom: 130px;
}




.band{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 25px 25px;

  margin-top: 150px;
  margin-bottom: 130px;
  }

  .left{
    width: 50%;
    display: inline-block;
  }

  .left img{
    float:left;
    width: 95%;
    height: 95%;
  }

  .left p{
    margin-top: -10px;
    text-align: center;
    padding-right: 5%;
  }

  .right{
    width: 50%;
    float: right;
  }

  .right img{
    float: right;
    width: 95%;
    height: 95%;
  }

  .right p{
    margin-top: -10px;
    text-align: center;
    padding-left: 5%;
  }


  .info{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    /*margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 25px 250px;

    margin-top: 150px;
    margin-bottom: 50px;*/
      margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 25px 25px;

  margin-top: 150px;
  margin-bottom: 130px;
    }


    .effect p,
    .effect div
    {

    	transition: .8s;
    }
